.container_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
}

.logo_image {
    height: 120px;
    width: 120px;
}

.hero_title{
    text-align: center;
    font-family: system-ui;
    font-size: xxx-large;
    font-style: oblique;
}

.hero_caption{
    text-align: center;
    font-size: larger;
    font-family: math;
    color: grey;
}

.testimoni_image {
    height: 400px;
    width: 600px;
}

.user_foto {
    width: 50px;
}

.container_testimoni_user {
    display: flex;
    justify-content: space-around;
    width: 230px;
    align-items: center;
    margin-left: 80px;
}

.user_name {
    font-size: x-small
}

.testimoni_caption {
    width: 300px;
    font-size: medium;
    font-family: system-ui;
    font-style: oblique;
    text-align: left;
    margin-left: 90px;
    color: grey;
}

.container_a_b {
    display: flex;
    justify-content: space-around
}

.benefit_message_title {
    font-size: 28px;
    font-weight: bold;
    color: grey;
    
}

.benefit_container {
    display: flex;
    justify-content: revert;
    width: 400px;
    align-items: center;
    text-align: left;
    gap: 20px;
}

.benefit_number {
    font-family: math;
    background-color: rgb(209, 209, 209);
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
}

.benefit_message {
    font-size: 20px;
}

.Our_Package {
    display: flex;
    height: 200px;
    justify-content: center;
    align-items: center;
    background-color: rgb(234, 236, 236);
}

.destination_pic {
    width: 70px;
}

.country {
    display: flex;
    gap: 20px;
    width: 300px;
    align-items: center;
}

.country_title {
    font-size: 18px;
}

.country_desc {
    font-size: 13px;
    color: grey;
}

.Destination_row1 {
    display: flex;
    justify-content: space-around;
}

.Destination_row2 {
    display: flex;
    justify-content: space-around;
}

.closing_argument_title {
    text-align: center;
    font-size: 30px;
}

.closing_argument_desc {
    text-align: center;
    font-size: 16px;
    font-style: oblique;
}

.closing_argument_button {
    display: flex;
    justify-content: center;
}

.button_end {
    font-size: 23px;
    font-family: monospace;
    padding: 10px;
    font-weight: bold;
    color: white;
    background-color: black;
}

.footer_text {
    font-size: 12px;
    text-align: center;
    color: grey;
    height: 2px;
}

.footer_desc {
    font-size: 18px;
    text-align: center;
    color: grey;
    margin-top: 2px;
}

.container_mainB {
    background-color: rgb(234, 236, 236);
    height: 500px;
    padding: 50px;
    width: 300px;
}

.contuctus_desc {
    width: 300px;
    font-style: oblique;
    font-size: 15px;
}

.submit {
    display: grid;
    height: 30px;
}

.input {
    height: 30px;
    width: 200px;
}

#interested {
    height: 30px;
    width: 200px;
}