.container_all{
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 5px;
}
.container_header{
    display: flex;
    justify-content: space-between;
}

.navbar{
    padding: 10px;
    margin-right: 50px;
    margin-top: 20px;
}
.hero_title{
    font-size: xxx-large;
}

.hero_caption{
    font-size: 25px;
    font-style: normal;
    font-size: unset
}

.container_biodata_tabel{
    display: flex;
    justify-content: space-between;
}

.container_biodata{
    background-color: rgb(238, 235, 235);
}

.tabel_biodata{
    vertical-align: top;
}

.Biodata_td{
    vertical-align: top;
    border: none;
    width: 15px;
    text-align: left;
}

.Submit{
    width: 100%;
}

th{
    background-color: rgb(183, 181, 181);
    font-size: medium;
}

th,td{
    border: 1px solid black;
    width: 112px;
    height: 40px;
    text-align: center;
}


h6{
    text-align: right;
    font-size: 13px
}

